/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@500;600;700&family=Roboto:wght@700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: "Inter", sans-serif;
  font-family: "Manrope", sans-serif; */
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3a3a3a;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1rem;
  font-weight: 600;
}

