/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Manrope:wght@700&family=Poppins:wght@500;600;700&family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  max-width: 1480px;
  margin: 0 auto;
  /* font-family: "Inter", sans-serif;
  font-family: "Manrope", sans-serif; */
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3a3a3a;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1.6rem;
  font-weight: 600;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.btn {
  background-color: #e02c6d;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  padding: 1rem 1.5rem;
  margin: 25px 0px;
}

/* Header section styles */

.header {
  margin: 0 auto 4rem;
}
.header_area {
  width: 80%;
  margin: 20px auto 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_area button {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.header_area button i {
  display: block;
  font-size: 2rem;
  color: #000;
}

.header_title {
  color: #3a3a3a;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 2.4rem;
  font-weight: 700;
}

.menu_area {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.menu {
  display: flex;
  column-gap: 2rem;
}

/* .menu a{
  display: flex;
  column-gap: 2rem;
} */

.mobile_menu {
  display: none;
}

.section {
  width: 80%;
  margin: 0 auto 8rem;
}

.influencer {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.influencer_content_area {
  flex: 1;
}

.title {
  color: #3a3a3a;
  font-size: 5rem;
  font-weight: 700;
  line-height: 7rem;
}

.section_desc {
  color: #3a3a3a;
  font-size: 1.6rem;
  font-weight: 600;
}

.influencer_btn {
  border-radius: 2rem;
}

.influencer_img {
  flex: 1;
  background-image: url("images/Circle design.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.influencer_img img {
  width: 100%;
  height: 100%;
  padding: 1.2rem;
}

.sponsor {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}

.sponsor_area {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-content: center;
  padding: 4rem;
  gap: 3rem;
}

.popular_collection {
  text-align: center;
}

.section_title {
  color: #3a3a3a;
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 7rem;
  margin-bottom: 3rem;
}

.card_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
  justify-content: center;
  justify-items: center;
}

.card {
  max-width: 30rem;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 1.5rem;
}

.card_title {
  color: #18191f;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 4rem;
  margin-bottom: 1rem;
}

.price {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 150%;
}

.ratting {
  color: #5e6366;
  font-family: Roboto;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.2rem;
}

.ratting span {
  color: #fb8200;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2.2rem;
}

.card p {
  color: #787885;
  font-family: Inter;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 143%;
}

.features {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.features_img {
  flex: 1;
}

.features_content {
  flex: 1;
}

.features_title {
  color: #0a0826;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 6rem;
}

.features_desc {
  color: #6c6c6c;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.8rem;
}

.features_btn {
  border-radius: 1rem;
}

.footer {
  width: 100%;
  background-color: #0a0826;
  padding: 5rem 0;
}

.footer_content {
  text-align: center;
}

.footer_title {
  color: #fff;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.footer_content p {
  color: #d9dbe1;
  font-family: Manrope;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.social_area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.social_area li {
  background-color: #383838;
  border-radius: 50%;
  margin-right: 2.5rem;
  padding: 0.5rem;
}

.social_area li:last-child {
  margin-right: 0;
}

.social_area li a {
  display: block;
}

.social_area li a i {
  color: #fff;
  display: block;
}

/* Responsive for mobile device */

@media screen and (max-width: 576px) {
  .mobile_menu {
    display: block;
  }

  .menu {
    flex-direction: column;
    display: none;
  }

  .search {
    display: none;
  }

  .influencer {
    flex-direction: column;
  }

  .influencer_content_area {
    order: 2;
    text-align: center;
  }

  .title {
    font-size: 2.8rem;
    line-height: 4rem;
  }

  .sponsor_area {
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    gap: 2rem;
  }

  .card_container {
    grid-template-columns: 1fr;
  }

  .features {
    flex-direction: column;
    text-align: center;
  }

  .features_img {
    order: 2;
  }

  .features_title {
    font-size: 2.4rem;
  }

  .features_desc {
    font-size: 1.4rem;
  }

  .footer_title {
    font-size: 2rem;
  }
}

/* Responsive for medium device */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .mobile_menu {
    display: block;
  }

  .menu {
    flex-direction: column;
    display: none;
  }

  .title {
    font-size: 4rem;
    line-height: 5rem;
    margin-bottom: 2rem;
  }

  .sponsor_area {
    grid-template-columns: repeat(4, 1fr);
    padding: 2.6rem;
  }

  .card_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .features {
    flex-direction: column;
    text-align: center;
  }

  .features_title {
    font-size: 3rem;
  }

  .features_desc {
    font-size: 1.6rem;
  }
}
